.author-info{
    color: #515859;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
/*thanks to w3*/
.share-button {
    background-color: #BC7058;
    border: none;
    color: white;
    font-family:'Open Sans Condensed', sans-serif;
    text-align: center;
    font-size: 16px;
    padding: 10px 20px;
}

